
.img--research_lab_overview {
  background-image: url("../imgs/ship/research_zone.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.img--calendar_wall {
  background-image: url("../imgs/props/calendar_wall_hanging.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
}