.choice-encounter {
	border: thin solid white;	
	cursor: pointer;
	background-color: #111111BB;
	padding: 0.5em;
	box-shadow: #ddd 3px 5px 8px;

}
.choice-encounter:hover {
	box-shadow: var(--color-yellow) 3px 5px 8px;
}

.choice-encounter .text {
	text-transform: capitalize;
	font-weight: bold;
	font-family: Raleway;
	line-height: 120%;
}

.choice-encounter .challenge {
	margin: 0;
	text-align: right;
	font-family: ChivoMono;
	margin-top: 1em;
	font-size: var(--size-detail);
}

.choice-encounter .difficulty {
	
}
.choice-encounter .difficulty.--guaranteed {
	color: var(--color-guaranteed);
}
.choice-encounter .difficulty.--easy {
	color: var(--color-easy);
}
.choice-encounter .difficulty.--moderate {
	color: var(--color-moderate);
}
.choice-encounter .difficulty.--challenging {
	color: var(--color-challenging);
}
.choice-encounter .difficulty.--impossible {
	color: var(--color-impossible);
}
