.choice {
	border: thin solid white;	
	cursor: pointer;
	color: white;
	background-color: var(--color-black-1a);
	padding: 0.5em;
	box-shadow: #ddd 3px 5px 8px;
	font-family: var(--choice-font-family);
}
.choice:hover {
	box-shadow: var(--color-yellow) 3px 5px 8px;
}

.choice .text {
	font-weight: bold;
	line-height: 120%;
}


.choice.--active {
	background-color: white;
	color: var(--color-black-1a);
}
