@import "fonts.css";
@import "colors.css";
@import "sizes.css";
@import "page-title-screen.css";

body {
	background-color: var(--color-background);
	/* color: var(--color-foreground); */
	display: flex;
	justify-content: center;
	align-items: center;
}

#gamearea {
	position: relative;
	width: var(--size-game-width);
	height: var(--size-game-height);	
	background-color: white;
	border: thin solid #111;
}