.page-ship {
	background-image: url('../imgs/ship/outside.png');	
	background-size: contain;
}

.page-ship .choice-list {
	flex-direction: column;
}

.page-ship .mask {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.5s ease;
}

.page-ship .choice-list li {
	cursor: pointer;
	padding: 1em;
	margin-bottom: 1em;
	
}
.page-ship .choice-list li:hover {
	/* background-color: white; */
}
.page-ship .choice-list li:hover .mask {
	opacity: 0.5;
}