.page-dialog {
	
}

.page-dialog .npc {
	height: 100%;
	position: absolute;
}

.page-dialog .story-text {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	float: right;
	height: 100%;
	justify-content: space-between;
	margin: 0;
	overflow: scroll;
	padding: 1em;
	width: 56%;
}


.page-dialog .choice-list {
	width: 100%;
	display: block;
}

.page-dialog .choice-list .choice {
	margin: 1em;
}