.page-ship-stats {
  flex-direction: column;
  justify-content: space-between;
}

.page-ship-stats .choice-list {
	display: flex;
  justify-content: space-around;
}

.page-ship-stats .btn-back {
	list-style: none;
  position: absolute;
  top: 0;
  left: 0;
}
