.page-encounter-screen {
	color: white;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.page-encounter-screen h1 {
	margin: 0 1em;
	margin-top: 0.5em;
}

.page-encounter-screen .story-text {
	font-family: Raleway;
	font-size: var(--size-large);	
	margin: 1em;
	background-color: #111111BB;
}
