.choice {
	--choice-shadow-normal: var(--color-choice-box-shadow) 3px 5px 8px;
	--choice-shadow-hover: var(--color-choice-box-shadow-hover) 3px 5px 8px;

	border: thin solid white;	
	cursor: pointer;
	color: var(--color-choice-color);
	background-color: var(--color-choice-background);
	padding: 0.5em;
	box-shadow: var(--choice-shadow-normal);
	font-family: var(--choice-font-family);
  margin-bottom: 0.75em;
}
.choice:hover {
	box-shadow: var(--choice-shadow-hover);
}

.choice .text {
	font-weight: bold;
	line-height: 120%;
}
